<!DOCTYPE html>
<html>

{% load bootstrap_icons %}

<head>
	{% load static %}
	<link rel = "stylesheet" href = "{% static 'bootstrap_v5/css/bootstrap.min.css' %}" type = "text/css"/>
	<script src = "{% static 'bootstrap_v5/js/bootstrap.bundle.min.js' %}"></script>
	<script src = "{{JQUERY_URL}}"></script>
	<meta charset = "utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block head_block %}{% endblock %}

</head>

<body
	{% if user.is_authenticated %}
		{% if user.dark_theme %}
			data-bs-theme = "dark"
		{% endif %}
	{% endif %}
>
	<div class = "container">
		<div class = "row py-3">
			<div class = "col">
				{% if user.is_authenticated %}
					<a href = "{% url 'root_index' %}" class = "text-decoration-none h1 d-none d-sm-inline">Django-Chat</a>
					<button class = "btn btn-outline-secondary d-sm-none d-inline" onclick = "toggle_chat_list()">{% bs_icon "list" %}</button>
				{% else %}
					<a href = "{% url 'root_index' %}" class = "text-decoration-none h1 d-sm-inline">Django-Chat</a>
				{% endif %}

				<div class = "float-end align-items-center">
					{% if user.is_authenticated %}
					<div class = "input-group">
						<a class = "input-group-text btn btn-outline-secondary" href = "{% url 'account:profile' %}"><img style = "width: 28px" class = "me-1 rounded-circle" src = {{user.user_image.url}}/>{{user.username}}</a>
						<a href = "{% url 'account:logout' %}" class = "btn btn-outline-secondary">{% bs_icon "box-arrow-right" %}</a>
					</div>
					<input type = "hidden" value = "{{user.username}}" id = "id_current_username"></input>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	{% block body_block %}{% endblock %}
</body>

</html>