{% extends 'base.html' %}

{% load bootstrap_icons %}

{% block head_block %}
	<title>Login</title>
{% endblock %}

{% block body_block %}
	<div class = "container">
		<div class = "row justify-content-center">
			<div class = "col col-xl-4 col-lg-6 col-md-8 col-sm-10">
				<div class = "card shadow">
					<div class = "card-body mt-3 px-5">
						<h3 class = "text-center">Login</h3>
						<form class = "form" action = "{% url 'account:login' %}" method = "post">
							{% csrf_token %}
							<div class = "input-group my-3">
								<span class = "input-group-text">{% bs_icon "person" %}</span>
								<input required class = "form-control" type = "text" name = "username" placeholder = "Username"></input>
							</div>
							<div class = "input-group my-3">
								<span class = "input-group-text">{% bs_icon "key" %}</span>
								<input required class = "form-control" type = "password" name = "password" placeholder = "Password"></input>
							</div>

							{% for message in messages %}
								<p class = "bg-warning px-2 text-secondary">{{message}}</p>
							{% endfor %}

							<input class = "btn btn-primary w-100 my-2" type = "submit" value = "Login"></input>
						</form>
					</div>
					<div class = "card-footer">
						<p class = "text-center">Don't have an account? <a href = "{% url 'account:signup' %}" class = "text-decoration-none">Sign up!</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}